<%- include('includes/head.ejs') %>

  <body>
    <header>
      <%- include('includes/navigation.ejs') %>
    </header>

<h1 class="mb-4">Formulaire d'ajout de snippets</h1>

    <main class="container mt-4 card mb-5 mt-5 p-5 text-dark">
      <form action="/add-article" method="POST" class="was-validated">
        <% if (errorMessage) { %>
          <div class="errors alert alert-danger">
            Veuillez corriger les erreurs.
          </div>
          <% } %>
            <div class="form-group">
              <label for="title">Titre</label>
              <input type="text" name="title" class="form-control is-invalid">
              <% if (errorMessage && errorMessage.title) { %>
                <div class="invalid-feedback">
                  <%= errorMessage.title.message %>
                </div>
                <% } %>
            </div>
            <div class="form-group">
              <label for="content">Contenu</label>
              <textarea name="content" id="" cols="30" rows="10" class="form-control is-invalid"></textarea>
              <% if (errorMessage && errorMessage.content) { %>
                <div class="invalid-feedback">
                  <%= errorMessage.content.message %>
                </div>
                <% } %>
            </div>
            <div class="form-group">
              <label for="code">Code</label>
              <textarea name="code" id="" cols="30" rows="10" class="form-control is-invalid"></textarea>
              <% if (errorMessage && errorMessage.code) { %>
                <div class="invalid-feedback">
                  <%= errorMessage.code.message %>
                </div>
                <% } %>
            </div>
            <div class="form-group">
              <label for="tags">tags</label>
              <input type="text" name="tags" class="form-control is-invalid">
              <% if (errorMessage && errorMessage.tags) { %>
                <div class="invalid-feedback">
                  <%= errorMessage.tags.message %>
                </div>
                <% } %>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </main>

    <%- include('includes/end.ejs') %>