<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <h1 class="mb-4 text-center mt-5 text-light">Editing snippets</h1>

    <main class="container mt-4 card mb-5 mt-5 p-5 text-dark">
        <form action="/edit-snippet" method="POST" class="border-dark">
            <% if (errorMessage) { %>
            <div class="errors alert alert-danger">
                Please correct the errors.
            </div>
            <% } %>
            <div class="form-group">
                <label for="title">Title</label>
                <input maxlength="255" type="text" name="title" value="<%= snippet.title %>"
                    class="form-control <%= errorMessage && errorMessage.title ? 'is-invalid' : '' %>">
                <% if (errorMessage && errorMessage.title) { %>
                <div class="invalid-feedback">
                    <%= errorMessage.title.message %>
                </div>
                <% } %>
            </div>

            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" name="url" value="<%= snippet.url %>"
                    class="form-control <%= errorMessage && errorMessage.url ? 'is-invalid' : '' %>">
                <% if (errorMessage && errorMessage.url) { %>
                <div class="invalid-feedback">
                    <%= errorMessage.url.message %>
                </div>
                <% } %>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" value="<%= snippet.description %>"
                    class="form-control <%= errorMessage && errorMessage.description ? 'is-invalid' : '' %>">
                <% if (errorMessage && errorMessage.description) { %>
                <div class="invalid-feedback">
                    <%= errorMessage.description.message %>
                </div>
                <% } %>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" id="code-editor" cols="30" rows="10"
                    class="form-control <%= errorMessage && errorMessage.content ? 'is-invalid' : '' %>"><%= snippet.content %></textarea>
                <% if (errorMessage && errorMessage.content) { %>
                <div class="invalid-feedback">
                    <%= errorMessage.content.message %>
                </div>
                <% } %>
            </div>

            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" name="tags" value="<%= snippet.tags %>"
                    class="form-control <%= errorMessage && errorMessage.tags ? 'is-invalid' : '' %>">
                <% if (errorMessage && errorMessage.tags) { %>
                <div class="invalid-feedback">
                    <%= errorMessage.tags.message %>
                </div>
                <% } %>
            </div>

            <input type="hidden" name="snippetId" value="<%= snippet._id %>">

            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </main>

    <%- include('includes/end.ejs') %>

    <!-- Script d'initialisation de CodeMirror -->
    <script>
        // Initialiser CodeMirror après le chargement de la page
        window.onload = function() {
            var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
                mode: "javascript",
                lineNumbers: true,
                theme: "material"
            });
        };
    </script>
</body>
