<%- include('includes/head.ejs') %>

  <body>
    <header>
      <%- include('includes/navigation.ejs') %>
    </header>

    <main class="container mt-3 mb-5 text-center">

      <% if (snippets.length> 0) { %>
        <h1 class="mb-4 text-light mt-5 text-center">Étiquettes</h1>
        <div class="container bg bg-tags g-4 p-3">
          <% let uniqueTags=new Set(); %>
            <% for (let snippet of snippets) { %>
              <% if (snippet.tags && snippet.tags.length> 0) { %>
                <% for (let tag of snippet.tags) { %>
                  <% uniqueTags.add(tag); %>
                    <% } %>
                      <% } %>
                        <% } %>
                          <% if (uniqueTags.size> 0) { %>
                            <% for (let tag of uniqueTags) { %>
                              <% if (tag.trim() !=='' ) { %>
                                <a href="/tag/<%= tag %>" class="btn btn-light tag">
                                  <%= tag %>
                                </a>
                                <% } %>
                                  <% } %>
                                    <% } %>
        </div>
        <% } %>

          <% if (snippets.length> 0) { %>
            <h1 class="mb-4 text-light mt-5">Mes Snippets</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <% snippets.sort((a, b)=> new Date(a.createdAt) - new Date(b.createdAt)); %>
                <% for (let snippet of snippets) { %>
                  <snippet class="col mb-5">
                    <div class="card shadow">
                      <div class="card-body">
                        <h2 class="card-title">
                          <% if (snippet.url && snippet.url.startsWith('https://')) { %>
                            Titre:
                            <a target="_blank" class="mt-5 mb-3 text-dark" href="<%= snippet.url %>">
                              <%= snippet.title %>
                            </a>
                            <% } else { %>
                              Titre:
                              <span class="mt-5 mb-3 text-dark">
                                <%= snippet.title %>
                              </span>
                              <% } %>
                        </h2>

                        <div>
                          <p>
                            <% if (snippet.content.trim() !=='' ) { %>
                              Tag(s): <%= snippet.tags %>
                                <% } else { %>
                                  Il n'y pas de tags ici!
                                  <% } %>
                          </p>
                        </div>
                      </div>
                      <div>
                        <p>
                          <% if (snippet.content.trim() !=='' ) { %>
                            Contenu: <%= snippet.content %>
                              <% } else { %>
                                Il n'y pas de contenu ici!
                                <% } %>
                        </p>
                      </div>
                      <div class="card-text">
                        <p>
                          Créé le : <%= formatDate(snippet.createdAt) %> à <%= formatTime(snippet.createdAt) %>
                        </p>
                      </div>
                      <div class="card-footer bg-white">
                        <div class="btn-group" role="group" aria-label="Actions">
                          <a href="/snippet/<%= snippet.id %>" class="btn btn-success"><i class="bi bi-eye"></i>
                            Voir</a>
                          <a href="/edit-snippet/<%= snippet.id %>" class="btn btn-warning"><i class="bi bi-pencil"></i>
                            Editer</a>
                          <a href="/delete/<%= snippet.id %>" class="btn btn-danger"
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce snippet ?')"><i
                              class="bi bi-trash"></i> Supprimer</a>
                        </div>
                      </div>
                    </div>
                  </snippet>
                  <% } %>
            </div>
            <% } else { %>
              <section class="container mt-5">
                <div class="row justify-content-center">
                  <div class="col-md-6 text-center">
                    <h1 class="display-4 text-light">:&#40;</h1>
                    <p class="lead text-light">Il ne semble pas y avoir de snippets pour l'instant !</p>
                    <a href="add-snippet" class="btn btn-primary"><i class="bi bi-house-door"></i> Je veux créer un
                      snippet !</a>
                  </div>
                </div>
              </section>
              <% } %>

    </main>

    <% function formatDate(date) { const options={ weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' };
      return new Date(date).toLocaleDateString('fr-FR', options); } function formatTime(date) { const options={
      hour: 'numeric' , minute: 'numeric' }; return new Date(date).toLocaleTimeString('fr-FR',
      options).replace(/:\d{2}\s/, ' ' ); } %>

      <%- include('includes/end.ejs') %>
  </body>