<%- include('includes/head.ejs') %>

  <body>
    <header>
      <%- include('includes/navigation.ejs') %>
    </header>

    <main class="container mt-3 mb-5 text-center">


      <% if (articles.length> 0) { %>
        <h1 class="mb-4 text-light mt-5 text-center">Étiquettes</h1>
        <div class=" container row row-cols-1 row-cols-md-2 g-4">
          <% for (let article of articles) { %>
            <article class="col mb-5">
              <div class="card shadow">
                <div class="card-body">
                  <h1 class="mb-4 mt-5 tag-filter" data-tags="<%= article.tags %>">
                    <%= article.tags %>
                  </h1>
                </div>
              </div>
            </article>
            <% } %>

        </div>
        <% } else { %>
          <section class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-6 text-center">
                <h1 class="text-light">Aucun tags!</h1>
              </div>
            </div>
          </section>
          <% } %>

            <script>
              const tags = document.querySelectorAll('.tags-filter');
              tags.forEach(tag => {
                tags.addEventListener('click', () => {
                  const tagsValue = tags.dataset.tags;
                  const articles = document.querySelectorAll('.col');
                  articles.forEach(article => {
                    if (!article.querySelector(`[data-tags="${tagsValue}"]`)) {
                      article.style.display = 'none';
                    } else {
                      article.style.display = 'block';
                    }
                  });
                });
              });
            </script>






            <% if (articles.length> 0) { %>
              <h1 class="mb-4 text-light mt-5">Mes Snippets</h1>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <% articles.sort((a, b)=> new Date(b.createdAt) - new Date(a.createdAt)); %>
                  <% for (let article of articles) { %>
                    <article class="col mb-5">
                      <div class="card shadow">
                        <div class="card-body">
                          <h2 class="card-title">
                            <% if (article.url) { %>
                              <a target="_blank" class="mt-5 mb-3 text-dark" href="<%= article.url %>">
                                <%= article.title %>
                              </a>
                              <% } else { %>
                                <%= article.title %>
                                  <% } %>
                          </h2>
                          <p class="card-text">
                            <%= article.tags %>
                          </p>
                        </div>
                        <div class="card-text">
                          <p>
                            Créé le: <%= formatDate(article.createdAt) %> à <%= formatTime(article.createdAt) %>
                          </p>
                        </div>
                        <div class="card-footer bg-white">
                          <div class="btn-group" role="group" aria-label="Actions">
                            <a href="/article/<%= article.id %>" class="btn btn-success"><i class="bi bi-eye"></i>
                              Voir</a>
                            <a href="/edit-article/<%= article.id %>" class="btn btn-warning"><i
                                class="bi bi-pencil"></i> Editer</a>
                            <a href="/delete/<%= article.id %>" class="btn btn-danger"
                              onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce snippet ?')"><i
                                class="bi bi-trash"></i> Supprimer</a>
                          </div>
                        </div>
                      </div>
                    </article>
                    <% } %>
              </div>
              <% } else { %>
                <section class="container mt-5">
                  <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                      <h1 class="display-4 text-light">:&#40;</h1>
                      <p class="lead text-light">Il ne semble pas avoir de snippets pour l'instant!</p>
                      <a href="add-article" class="btn btn-primary"><i class="bi bi-house-door"></i> Je veux créer un
                        snippet!</a>
                    </div>
                  </div>
                </section>
                <% } %>

    </main>

    <% function formatDate(date) { const options={ weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' };
      return new Date(date).toLocaleDateString('fr-FR', options); } function formatTime(date) { const options={
      hour: 'numeric' , minute: 'numeric' }; return new Date(date).toLocaleTimeString('fr-FR',
      options).replace(/:\d{2}\s/, ' ' ); } %>

      <%- include('includes/end.ejs') %>
  </body>